body {
    background-color: #F0F0F0;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.content {
    background-color: #FFFFFF;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 8px;
}

.content .header {
    position: relative;
}

.content .header .back {
    display: inline-block;
    padding: 15px 20px 15px 36px;
    height: 19px;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M8%2015.9c-.2%200-.4-.1-.6-.3l-7-7c-.3-.3-.3-.9%200-1.2l7-7c.3-.3.9-.3%201.2%200%20.3.3.3.9%200%201.2l-6.4%206.4%206.4%206.4c.3.3.3.9%200%201.2-.2.2-.4.3-.6.3z%22%20opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E') 15px 16px no-repeat;
    color: #818d99;
    text-decoration: none;
    line-height: 19px;
    cursor: pointer;

    position: absolute;
    left: 0;
}

.content .header .back:hover {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M8%2015.9c-.2%200-.4-.1-.6-.3l-7-7c-.3-.3-.3-.9%200-1.2l7-7c.3-.3.9-.3%201.2%200%20.3.3.3.9%200%201.2l-6.4%206.4%206.4%206.4c.3.3.3.9%200%201.2-.2.2-.4.3-.6.3z%22%20opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E') 15px 16px no-repeat, linear-gradient(90deg, #f0f2f5 50%, #fff);
    color: #707d8c;
}

.content .header .title {
    text-align: center;
    font-weight: 700;
    color: #222;
    padding: 15px 20px;
}

.user {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 8px;
}

.user:last-child {
    margin-bottom: 0;
}

.user .image {
    background: no-repeat center;
    background-size: cover;
    float: left;
    width: 175px;
    height: 175px;
}

.user .info {
    float: left;
    position: relative;
    height: 175px;
    box-sizing: border-box;
    padding: 16px 24px;

    width: calc(100% - 175px);
}

.user .info .name {
    font-size: 1.4em;
    color: #040404;
    margin-bottom: 8px;
}

.user .info .description {
    color: #c4c4c4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 8px;
}

.user .info .similar {
    color: #4D8A08;
    padding: 2px 0 2px 26px;

    background: url(images/green_star.png) no-repeat left;
    background-size: contain;
}

.user .info .actions {
    position: absolute;
    bottom: 0;
    padding: 16px 0;
}

.user .info .actions .button {
    display: inline-block;
    border-radius: 2px;

    font-weight: 400;
    padding: 10px 24px;
    line-height: 15px;
    text-align: center;
    background-color: #5e81a8;
    color: #fff;
    box-sizing: border-box;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user .info .actions .button:hover {
    background-color: #6888ad;
}

.user .info .actions .button:active {
    background-color: #5779a1;
    /*padding: 11px 24px 9px;*/
}

.user .info .actions .button.light {
    background-color: #dae2ea;
    color: #55677d;
}

.user .info .actions .button.light:hover {
    background-color: #dfe6ed;
}

.user .info .actions .button.light:active {
    background-color: #dae2ea;
}

.clear {
    clear: both;
}