body {
    background-color: #F0F0F0;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}

@font-face {
    font-family: HelveticaLight;
    src: url(fonts/HelveticaNeue-Thin.otf);
}

.content {
    background-color: #FFFFFF;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 8px;
}

.search {
    padding: 15px 10px 15px 36px;
    height: 48px;
    background: url(images/search.png) no-repeat;
    background-size: 14px 16px;
    background-position: 14px 16px;

    /*border-left: 15px solid transparent;*/
    border: none;
    font-size: 0.8em;
    color: #000;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    line-height: 18px;
    outline: none;
    box-shadow: none;
}

*::-webkit-input-placeholder {
    color: #929EB0;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #929EB0;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #929EB0;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #929EB0;
}


.event {
    background: no-repeat center;
    background-size: cover;
    padding-bottom: 35%;
    border-radius: 2px;
    cursor: pointer;

    color: #FFF;
    position: relative;

    margin-top: 8px;
}

.event:last-child {
    margin-bottom: 0;
}

.event .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;

    border-radius: 10px;
}

.event:hover .overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.event .info {
    position: absolute;
    padding: 32px 48px;
    bottom: 0;
}

.event .info .title {
    font-size: 1.4em;
}

.event .info .description {
    margin-top: 8px;
    font-family: HelveticaLight, sans-serif;
    font-weight: 100;
    line-height: 1.1em;
}

.event .info .schedule {
    margin-top: 12px;
}

.event .info .schedule .item {
    display: inline-block;
    margin-right: 12px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #FFF;
    border: 1px #fff solid;
    font-size: 0.9em;
}

.event .info .schedule .item:hover {
    background-color: #fff;
    color: #000;
}

.event .top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px 48px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.event .top > div {
    margin-left: 16px;
}

.event .top .star {
    background: no-repeat center url(images/star.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}

.event .top .afisha {
    background: no-repeat center url(images/afisha.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}

.event .top .rating {
    font-family: HelveticaLight, sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    padding-top: 5px; /* to compensate wrong font height */
}